<div class="bg-green-200 p-8">
  <h1 class="">Products#index</h1>
  <% @products.each do |product| %>
    <%= link_to product_path(product.id), class:"no-underline text-slate-900" do %>
    <div class="product p-3 rounded-xl border border-indigo-600 m-2">
    <h2 class=""><%= product.title %></h2>
    <h4><%= product.price %></h4>
    </div>
    <% end %>
  <% end %>
</div>
